<div id='asana-header'>
  <p><strong>Hey this is Asana</strong></p>
  <div id='searchbar'>
    <p>Searchbar goes here</p>
  </div>
</div>
<ul id='projects'></ul>
<div id="new-project">
  <button class='new-project'>New Project button needs love</button>
</div>