<div id='asana-header' class=''>
  <div id='logo-box' class=''>
    <img src='logo.png' height='50px' width='180px' class='img-responsive'/>
  </div>
  <div id='searchbar' class=''>
    <form class="form-search" role="search">
      <div class="input-group input-group-sm">
        <div class='input-group-btn'>
          <button class='btn btn-default' type='button'><i class="glyphicon glyphicon-search"></i></button>
        </div>
        <input type="text" class="form-control" placeholder="Search coming soon!" name='search-term' id='search-term'>
      </div>
    </form>
  </div
</div>

<div id='projects-body' class=''>
  <ul id='projects'></ul>
</div>

<div id='projects-footer' class='col-md-offset-1'>
  <div id="new-project" class=''>
    <button class='new-project btn btn-sm btn-default'>New Project button needs love</button>
  </div>
  <br>
  <div id='user-account' class='col-md-offset-2'>
    <a href='users/sign_out' class='btn btn-sm btn-primary', data-method='delete'>Sign Out</a>
  </div>
</div>