<div id='asana-header'>
  <div id='logo-box'>
    <img src='logo.png' height='50px' width='180px' />
  </div>
  <div id='searchbar'>
    <p>Searchbar goes here</p>
  </div>
</div>
<ul id='projects'></ul>

<div id="new-project">
  <button class='new-project'>New Project button needs love</button>
</div>

<div id='user-account center'>
  <a href='users/sign_out' class='btn btn-default', data-method='delete'>Sign Out</a>
</div>