<div class='item-header'>
  <div class='navbar-right'>
    <span class='glyphicon glyphicon-remove'>
  </div>
</div>

<div class='item-body'>
  <p class='invisible'><%= project.escape('title') %></p>
  <h3 class='editable'><%= item.escape('title') %></h3>
  <p class='editable'><%= item.escape('description') || 'Click to add a description' %></p>
</div>