<div class='item-header'>
  <div class='navbar-right'>
    <span class='glyphicon glyphicon-remove'>
  </div>
</div>
<div class='item-body'>
  <p><%= project.escape('title') %></p>
  <h3 class='editable'><%= item.escape('title') || '(unnamed task)' %></h3>
  <p class='editable'><%= item.escape('description') || 'Select a task to view its details.' %></p>
</div>