<h1>Hey this is a page</h1>
<div id='content' class='container'>
  <div id='projects' class='container'>
    <p>This is the Projects div</p>
  </div>
  <div id='lists' class='container'>
    <p>This is the Lists div</p>
  </div>
  <div id='items' class='container'>
    <p>This is the Items div</p>
  </div>
</div>

<script>
  $(function () {
    Asana.initialize();
  });
</script>