<div id='projects-pane' class='container'>
  <p>This is the Projects div</p>
</div>
<div id='list-pane' class='container'>
  <p>This is the Lists div</p>
</div>
<div id='item-pane' class='container'>
  <p>This is the Items div</p>
</div>