<div id='projects-pane' class='col-xs-2'>
  <p>This is the Projects div</p>
</div>
<div id='list-pane' class='col-xs-6'>
  <p>This is the Lists div</p>
</div>
<div id='item-pane' class='col-xs-4'>
  <p>This is the Items div</p>
</div>